/* camera-capture.component.css */
.camera-container {
    text-align: center;
  }
  
  video {
    border: 1px solid black;
    margin-bottom: 10px;
  }
  
  button {
    display: block;
    margin: 10px auto;
  }
  
  img {
    display: block;
    margin: 10px auto;
    max-width: 100%;
  }
  