<!-- Loading starts -->
<div id="loading-wrapper">
  <!-- <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
    </div> -->
  <div class="lds-roller">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>
<!-- Loading ends -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">Profile</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Profile</a></li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid" style="background-color: #fff;">
      <!-- Small boxes (Stat box) -->

      <section class="">
        <div class="container">
          <div class="row">
            <div class="col-12 text-right pt-2">
              <!-- <i class="nav-icon fas fa-pen" data-toggle="modal" data-target="#editProfile" style="cursor: pointer;"></i> -->
            </div>
            <div class="col-lg-12 mb-4 mb-sm-5 pt-2">
              <div class="row align-items-center">
                <div class="col-lg-6 mb-4 mb-lg-0">
                  <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="...">
                </div>
                <div class="col-lg-6 px-xl-10">
                  <div class="bg-secondary d-lg-inline-block py-1-9 px-1-9 px-sm-6 mb-1-9 rounded">
                    <h3 class="h2 text-white mb-0">{{user.f_name}} {{user.m_name}} {{user.l_name}}</h3>
                    <span class="text-primary">{{user.position}}</span>
                  </div>
                  <ul class="list-unstyled mb-1-9">
                    <li class="mb-2 mb-xl-3 display-28"><span
                        class="display-26 text-secondary me-2 font-weight-600">Position:</span> {{user.position}}</li>
                    <li class="mb-2 mb-xl-3 display-28"><span
                        class="display-26 text-secondary me-2 font-weight-600">Experience:</span> {{age}} Years</li>
                    <li class="mb-2 mb-xl-3 display-28"><span
                        class="display-26 text-secondary me-2 font-weight-600">Email:</span> {{user.email}}</li>
                    <li class="mb-2 mb-xl-3 display-28"><span
                        class="display-26 text-secondary me-2 font-weight-600">Website:</span> </li>
                    <li class="display-28"><span class="display-26 text-secondary me-2 font-weight-600">Phone:</span>
                        {{user.phone_no}}</li>
                  </ul>
                  <ul class="social-icon-style1 list-unstyled mb-0 ps-0">
                    <li><a href="#!"><i class="ti-twitter-alt"></i></a></li>
                    <li><a href="#!"><i class="ti-facebook"></i></a></li>
                    <li><a href="#!"><i class="ti-pinterest"></i></a></li>
                    <li><a href="#!"><i class="ti-instagram"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-lg-12 mb-4 mb-sm-5">
              <div>
                <span class="section-title text-primary mb-3 mb-sm-4">Branch Details</span>
                <ul class="list-unstyled mb-1-9">
                    <div class="row">
                        <div class="col-md-4 py-2">
                            <span class="text-secondary me-2 font-weight-600">Branch Name:</span> {{br_name}}
                        </div>
                        <div class="col-md-4 py-2">
                            <span class="text-secondary me-2 font-weight-600">Branch Code:</span> {{br_code}}
                        </div>
                        <div class="col-md-4 py-2">
                            <span class="text-secondary me-2 font-weight-600">Branch Location:</span> {{br_loc}}
                        </div>
                        <div class="col-md-4 py-2">
                            <span class="text-secondary me-2 font-weight-600">Branch Contact Number:</span> {{br_cntc}} 
                        </div>
                        <div class="col-md-4 py-2">
                            <span class="text-secondary me-2 font-weight-600">Branch Email:</span> {{br_email}}
                        </div>
                        <div class="col-md-4 py-2">
                            <span class="text-secondary me-2 font-weight-600">Branch Address:</span> {{br_addr}}
                        </div>
                    </div>
                  </ul>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- ./col -->

      <!-- /.row -->
      <!-- Main row -->
      <div class="row">
        <!-- Add Modal -->
        <div class="modal fade" id="editProfile" tabindex="-1" role="dialog" aria-labelledby="editProfileLabel"
          aria-hidden="true">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="editProfileLabel">Update Profile details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">

                <div class="card-body">
                    <div class="col-sm-12">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputEmail4">First Name:</label>
                                <input type="text" class="form-control" [(ngModel)]="fund.f_name" id="inputEmail4" placeholder="First Name">
                            </div>
                            <div class="form-group col-md-6">
                              <label for="inputEmail4">Middle Name:</label>
                              <input type="text" class="form-control" id="inputEmail4" placeholder="Middle Name">
                          </div>
                            <div class="form-group col-md-6">
                                <label for="inputEmail4">Last Name:</label>
                                <input type="text" class="form-control" id="inputEmail4" placeholder="Last Name">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputEmail4"> Fathers Name:</label>
                                <input type="text" class="form-control" id="inputEmail4"
                                    placeholder=" Fathers Name">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputEmail4">Address:</label>
                                <input type="text" class="form-control" id="inputEmail4" placeholder="Address">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputEmail4">Gender:</label>
                                <select id="inputState" class="form-control">
                                    <option selected>Please Select</option>
                                    <option>...</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputEmail4"> Purpose of Membership:</label>
                                <input type="text" class="form-control" id="inputEmail4"
                                    placeholder="Purpose of Membership">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputEmail4">Occupation:</label>
                                <input type="text" class="form-control" id="inputEmail4" placeholder="Occupation">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputEmail4"> Introducer Member Name:</label>
                                <input type="text" class="form-control" id="inputEmail4"
                                    placeholder="Introducer Member Name">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputEmail4">Membership ID:</label>
                                <input type="text" class="form-control" id="inputEmail4"
                                    placeholder="Membership ID">
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="col-sm-12 text-center">
                        <h3>Existing Member</h3>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputEmail4"> Membership ID :</label>
                                <input type="text" class="form-control" id="inputEmail4"
                                    placeholder="Membership ID ">
                            </div>
                        </div>
                        <hr>
                    </div>
                    <div class="col-sm-12 text-center">
                        <h3>SHARE APPLICATION</h3>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label for="inputEmail4">A Class:</label>
                                <input type="text" class="form-control" id="inputEmail4">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="inputEmail4">Price Rs:</label>
                                <input type="text" class="form-control" id="inputEmail4">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="inputEmail4">Admin Fee:</label>
                                <input type="text" class="form-control" id="inputEmail4">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label for="inputEmail4">B Class:</label>
                                <input type="text" class="form-control" id="inputEmail4">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="inputEmail4">Price Rs:</label>
                                <input type="text" class="form-control" id="inputEmail4">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="inputEmail4">Admin Fee:</label>
                                <input type="text" class="form-control" id="inputEmail4">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label for="inputEmail4">C Class:</label>
                                <input type="text" class="form-control" id="inputEmail4">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="inputEmail4">Price Rs:</label>
                                <input type="text" class="form-control" id="inputEmail4">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="inputEmail4">Admin Fee:</label>
                                <input type="text" class="form-control" id="inputEmail4">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label for="inputEmail4">D Class:</label>
                                <input type="text" class="form-control" id="inputEmail4">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="inputEmail4">Price Rs:</label>
                                <input type="text" class="form-control" id="inputEmail4">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="inputEmail4">Admin Fee:</label>
                                <input type="text" class="form-control" id="inputEmail4">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputEmail4">PAN:</label>
                                <input type="text" class="form-control" id="inputEmail4">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputEmail4">AADHAAR:</label>
                                <input type="text" class="form-control" id="inputEmail4">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 text-center">
                        <h3>NOMINATION</h3>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputEmail4"> Nominee Name:</label>
                                <input type="text" class="form-control" id="inputEmail4"
                                    placeholder=" Nominee Name">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputEmail4">Gender:</label>
                                <select id="inputState" class="form-control">
                                    <option selected>Please Select</option>
                                    <option>...</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputEmail4">Mobile Number:</label>
                                <input type="number" class="form-control" id="inputEmail4"
                                    placeholder="Mobile Number">
                            </div>
                        </div>
                        <!-- <div class="form-row">
                            <div class="col-md-6">
                                <label for="inputEmail4"> Upload Annexure-A (Certificate of Controlling Authority)
                                </label>
                                <div class="input-group">
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="inputGroupFile04">
                                        <label class="custom-file-label" for="inputGroupFile04">Choose file</label>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                        <br>

                        <div class="form-row">
                            <div class="col-md-12">
                                <label for="inputEmail4">Declaration</label>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                    <label class="form-check-label text-justify" for="exampleCheck1">
                                        I hereby agree to be a member of the Lakhimi Sanchay and Rindan S.S. Limited
                                        subject to the rules and regulations of the
                                        approved Share of the Society and future amendments to the same. I shall
                                        maintain my duties and responsibilities as member of
                                        the society and follow up rules & regulations lay down by the society time
                                        to time.
                                        <br>
                                        (Approval is subject to consideration of BOD. If not, money will returned as same).
                                    </label>
                                </div>
                            </div>
                        </div>
                        <br>
                    </div>
                    <hr>
                    <div class="col-sm-12 text-center">
                        <h3>ACCOUNT APPLICATION</h3>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputEmail4">Account Type:</label>
                                <input type="text" class="form-control" id="inputEmail4">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputEmail4">Deposit Period:</label>
                                <input type="text" class="form-control" id="inputEmail4">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputEmail4">Frequency:</label>
                                <input type="text" class="form-control" id="inputEmail4">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputEmail4">First Instalment Amount:</label>
                                <input type="text" class="form-control" id="inputEmail4">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputEmail4">Opening Fee:</label>
                                <input type="text" class="form-control" id="inputEmail4">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputEmail4">PAN:</label>
                                <input type="text" class="form-control" id="inputEmail4">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputEmail4">Email Address:</label>
                                <input type="text" class="form-control" id="inputEmail4">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputEmail4">AADHAAR NO.:</label>
                                <input type="text" class="form-control" id="inputEmail4">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputEmail4">Mobile Number:</label>
                                <input type="text" class="form-control" id="inputEmail4">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputEmail4">Branch Name:</label>
                                <input type="text" class="form-control" id="inputEmail4">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputEmail4">CSP/ MSP Code:</label>
                                <input type="text" class="form-control" id="inputEmail4">
                            </div>
                        </div>
                        <hr>
                        <div class="col-sm-12 text-center">
                            <h3>BANK ACCOUNT DETAILS</h3>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="inputEmail4">Name in Account:</label>
                                    <input type="text" class="form-control" id="inputEmail4">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="inputEmail4">Account Type:</label>
                                    <input type="text" class="form-control" id="inputEmail4">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="inputEmail4">Account Number:</label>
                                    <input type="text" class="form-control" id="inputEmail4">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="inputEmail4">IFSC:</label>
                                    <input type="text" class="form-control" id="inputEmail4">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="inputEmail4">Bank Name:</label>
                                    <input type="text" class="form-control" id="inputEmail4">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="inputEmail4">Branch:</label>
                                    <input type="text" class="form-control" id="inputEmail4">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-sm-12 text-center">
                        <button mat-raised-button color="primary">Sumbit</button>
                    </div>
                    <!-- <div class="col-sm-12 text-center">
                        <button type="button" id="modalClose" class="btn btn-danger"
                            data-dismiss="modal">Cancel</button>
                    </div> -->
                </div>
            </div>
            </div>
          </div>
        </div>

        <!-- end model -->
      </div>
      <!-- /.row (main row) -->
    </div><!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>