<!-- Loading starts -->
<div id="loading-wrapper" *ngIf="isLodaing">
    <ngx-spinner bdColor="rgba(0,0,0,0.9)" type="ball-clip-rotate"></ngx-spinner>
</div>

<!-- Loading ends -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="card px-2">
                <div class="row mb-2">
                    <div class="col-sm-6 pt-1">
                        <h1 class="m-0">Express Loan Details</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6 pt-2">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">Express Loan Details</li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div>
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <!-- Small boxes (Stat box) -->
            <div class="card px-2">
                <!-- Main row -->
                <div class="row">


                </div>
                <div class="row">
                    <div class="col-md-12 pt-2">


                        <div class="row">
                            <div class="col progress-step">
                                <div class="step-number-one">1</div>
                                <div class="step-title">Field Agent</div>
                                <div class="sm-txt">Product cost: {{loanData.l_product_cost | currency:'INR':'symbol':'1.2-2'}}</div>
                            </div>
                            <div class="col progress-step">
                                <div class="step-number-two">2</div>
                                <div class="step-title">Branch Manager</div>
                                <div class="text-danger" *ngIf="loanData.bm_status == 'Rejected'">
                                    <div class="sm-txt"><b>Status:</b> {{loanData.bm_status}}</div>
                                    <div class="sm-txt"><b>Reason:</b> {{loanData.bm_reason}}</div>
                                    <div class="sm-txt"> Date: {{loanData.bm_fwd_date |
                                        date:'dd-MM-YYYY'}}</div>
                                </div>
                                <div *ngIf="loanData.bm_status == 'Forwarded'">
                                    <div class="sm-txt">Proposed Date: {{loanData.bm_fwd_date |
                                        date:'dd-MM-YYYY'}}</div>
                                </div>
                            </div>
                            <div class="col progress-step">
                                <div class="step-number-three">3</div>
                                <div class="step-title">Loan Officer</div>
                                <div class="text-danger" *ngIf="loanData.lo_status == 'Rejected'">
                                    <div class="sm-txt"><b>Status:</b> {{loanData.lo_status}}</div>
                                    <div class="sm-txt"><b>Reason:</b> {{loanData.lo_reason}}</div>
                                    <div class="sm-txt"> Date: {{loanData.lo_fwd_date |
                                        date:'dd-MM-YYYY'}}</div>
                                </div>
                                <div *ngIf="loanData.lo_status == 'Forwarded'">
                                    <div class="sm-txt">Proposed Date: {{loanData.lo_fwd_date |
                                        date:'dd-MM-YYYY'}}</div>
                                </div>
                            </div>
                            <div class="col progress-step">
                                <div class="step-number-four">4</div>
                                <div class="step-title">Managing Director</div>
                                <div class="text-danger" *ngIf="loanData.md_status == 'Rejected'">
                                    <div class="sm-txt"><b>Status:</b> {{loanData.md_status}}</div>
                                    <div class="sm-txt"><b>Reason:</b> {{loanData.md_reason}}</div>
                                    <div class="sm-txt"> Date: {{loanData.md_fwd_date |
                                        date:'dd-MM-YYYY'}}</div>
                                </div>
                                <div *ngIf="loanData.md_status == 'Forwarded'">
                                    <div class="sm-txt">Proposed Date: {{loanData.md_fwd_date |
                                        date:'dd-MM-YYYY'}}</div>
                                </div>
                            </div>
                            <div class="col progress-step">
                                <div class="step-number-five">5</div>
                                <div class="step-title">Chairman</div>
                                <div class="text-danger" *ngIf="loanData.cm_status == 'Rejected'">
                                    <div class="sm-txt"><b>Status:</b> {{loanData.cm_status}}</div>
                                    <div class="sm-txt"><b>Reason:</b> {{loanData.cm_reason}}</div>
                                    <div class="sm-txt"> Date: {{loanData.cm_fwd_date |
                                        date:'dd-MM-YYYY'}}</div>
                                </div>
                                <div *ngIf="loanData.cm_status == 'Approved'">
                                    <div class="sm-txt">Proposed Date: {{loanData.cm_fwd_date |
                                        date:'dd-MM-YYYY'}}</div>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="showProgressBar">
                            <div *ngIf="loanData.fwd_status == 'Branch Manager'">
                                <div class="progress mt-3"
                                    *ngIf="loanData.loan_status == 'Applied' || loanData.loan_status == 'Rejected'">
                                    <div class="progress-bar progress-bar-striped progress-bar-animated"
                                        [style.width]="progressWidthFa">20%</div>
                                </div>
                            </div>
                            <div *ngIf="loanData.fwd_status == 'Loan Officer'">
                                <div class="progress mt-3"
                                    *ngIf="loanData.loan_status == 'Applied' || loanData.loan_status == 'Rejected'">
                                    <div class="progress-bar progress-bar-striped progress-bar-animated"
                                        [style.width]="progressWidthBm">40%</div>
                                </div>
                            </div>
                            <div *ngIf="loanData.fwd_status == 'Managing Director'">
                                <div class="progress mt-3"
                                    *ngIf="loanData.loan_status == 'Applied' || loanData.loan_status == 'Rejected'">
                                    <div class="progress-bar progress-bar-striped progress-bar-animated"
                                        [style.width]="progressWidthLo">60%</div>
                                </div>
                            </div>
                            <div *ngIf="loanData.fwd_status == 'Chairman'">
                                <div class="progress mt-3"
                                    *ngIf="loanData.loan_status == 'Applied' || loanData.loan_status == 'Rejected'">
                                    <div class="progress-bar progress-bar-striped progress-bar-animated"
                                        [style.width]="progressWidthMd">80%</div>
                                </div>
                            </div>
                            <div class="progress mt-3"
                                *ngIf="loanData.loan_status == 'Approved' || loanData.loan_status == 'Completed'">
                                <div class="progress-bar progress-bar-striped progress-bar-animated"
                                    [style.width]="progressWidthCm">100%</div>
                            </div>
                        </div>

                        <br>
                        <div class="row bg-lightblue p-1">
                            <div class="col-md-4">
                                <b>Applied by field agent:</b> {{loanData.fieldAgent_frm_applied}}
                            </div>
                            <div class="col-md-4">
                                <b>Applied from branch name & code:</b> {{loanData.branch_frm_applied}} - {{loanData.branchCode_frm_applied}}
                            </div>
                        </div>
                        <br>


                        <!-- for branch manager -->
                        <div *ngIf="isBM == true">

                            <div
                                *ngIf="loanData.bm_status == null || loanData.lo_status == 'Rejected' || loanData.md_status == 'Rejected' || loanData.cm_status == 'Rejected'">

                                <div *ngIf="loanData.bm_status != 'Rejected'">
                                    <div class="form-row pt-2">
                                        <div class="form-group col-md-4">
                                            <label class="text-danger" for="inputEmail4">Action
                                                (Forward/Reject):</label>
                                            <div class="">
                                                <select class="form-control" id="sourceOfFund"
                                                    [(ngModel)]="bmInput.action">
                                                    <option label="Please Select"></option>
                                                    <option value="Forward">Forward</option>
                                                    <option value="Reject">Reject</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row pt-2" *ngIf="bmInput.action == 'Forward'">
                                        <div class="form-group col-md-5">
                                            <button mat-raised-button color="primary" class="btn-block"
                                                (click)="updateBMStatus()"><small>Forward to Loan
                                                    Officer</small></button>
                                        </div>
                                    </div>
                                    <div class="form-row pt-2" *ngIf="bmInput.action == 'Reject'">
                                        <div class="form-group col-md-12">
                                            <textarea class="form-control" placeholder="Reason"
                                                [(ngModel)]="bmInput.bm_reason"></textarea>
                                        </div>
                                        <div class="form-group col-md-5">
                                            <button mat-raised-button color="primary" class="btn-block"
                                                (click)="rejectBMStatus()"><small>Reject</small></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>




                        <!-- for loan officer -->
                        <div *ngIf="loanData.lo_status == null && isLO == true && loanData.bm_status == 'Forwarded'">

                            <br>
                            <div class="form-row pt-2">
                                <div class="form-group col-md-4">
                                    <label class="text-danger" for="inputEmail4">Action (Forward/Reject):</label>
                                    <div class="">
                                        <select class="form-control" id="sourceOfFund" [(ngModel)]="loInput.action">
                                            <option label="--Please Select --"></option>
                                            <option value="Forward">
                                                Forward
                                            </option>
                                            <option value="Reject">
                                                Reject
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row pt-2" *ngIf="loInput.action == 'Forward'">
                                <div class="form-group col-md-4">
                                    <button mat-raised-button color="primary" class="btn-block"
                                        (click)="updateLOStatus()"><small>Forward to Managing Director</small></button>
                                </div>
                            </div>
                            <div class="form-row pt-2" *ngIf="loInput.action == 'Reject'">
                                <div class="form-group col-md-12">
                                    <textarea class="form-control" placeholder="Reason"
                                        [(ngModel)]="loInput.lo_reason"></textarea>
                                </div>
                                <div class="form-group col-md-5">
                                    <button mat-raised-button color="primary" class="btn-block"
                                        (click)="rejectLOStatus()"><small>Reject</small></button>
                                </div>
                            </div>
                        </div>



                        <!-- for Managing Director -->
                        <div *ngIf="loanData.md_status == null && isMD == true && loanData.lo_status == 'Forwarded'">


                            <br>
                            <div class="form-row pt-2">
                                <div class="form-group col-md-4">
                                    <label class="text-danger" for="inputEmail4">Action (Forward/Reject):</label>
                                    <div class="">
                                        <select class="form-control" id="sourceOfFund" [(ngModel)]="mdInput.action">
                                            <option label="--Please Select --"></option>
                                            <option value="Forward">
                                                Forward
                                            </option>
                                            <option value="Reject">
                                                Reject
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row pt-2" *ngIf="mdInput.action == 'Forward'">
                                <div class="form-group col-md-4">
                                    <button mat-raised-button color="primary" class="btn-block"
                                        (click)="updateMDStatus()"><small>Forward to Chairman</small></button>
                                </div>
                            </div>
                            <div class="form-row pt-2" *ngIf="mdInput.action == 'Reject'">
                                <div class="form-group col-md-12">
                                    <textarea class="form-control" placeholder="Reason"
                                        [(ngModel)]="mdInput.md_reason"></textarea>
                                </div>
                                <div class="form-group col-md-5">
                                    <button mat-raised-button color="primary" class="btn-block"
                                        (click)="rejectMDStatus()"><small>Reject</small></button>
                                </div>
                            </div>
                        </div>

                        <!-- for Chairman -->
                        <div *ngIf="loanData.cm_status == null && isCM == true && loanData.md_status == 'Forwarded'">

                            <br>
                            <div class="form-row pt-2">
                                <div class="form-group col-md-4">
                                    <label class="text-danger" for="inputEmail4">Action (Approve/Reject):</label>
                                    <div class="">
                                        <select class="form-control" id="sourceOfFund" [(ngModel)]="cmInput.action">
                                            <option label="--Please Select --"></option>
                                            <option value="Approve">
                                                Approve
                                            </option>
                                            <option value="Reject">
                                                Reject
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row pt-2" *ngIf="cmInput.action == 'Approve'">
                                <div class="form-group col-md-4">
                                    <button mat-raised-button color="primary" class="btn-block"
                                        (click)="updateCMStatus()"><small>Approve</small></button>
                                </div>
                            </div>
                            <div class="form-row pt-2" *ngIf="cmInput.action == 'Reject'">
                                <div class="form-group col-md-12">
                                    <textarea class="form-control" placeholder="Reason"
                                        [(ngModel)]="cmInput.cm_reason"></textarea>
                                </div>
                                <div class="form-group col-md-5">
                                    <button mat-raised-button color="primary" class="btn-block"
                                        (click)="rejectCMStatus()"><small>Reject</small></button>
                                </div>
                            </div>
                        </div>




                        <div class="accordion" id="accordionExample">








                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link btn-block text-left collapsed" type="button"
                                            data-toggle="collapse" data-target="#collapseOne" aria-expanded="false"
                                            aria-controls="collapseOne">
                                            1. Basic Loan Application
                                        </button>
                                    </h2>
                                </div>

                                <div id="collapseOne" class="collapse" aria-labelledby="headingOne"
                                    data-parent="#accordionExample">
                                    <div class="card-body">

                                        <div class="row  px-4">
                                            <button printSectionId="print-first-form" ngxPrint [useExistingCss]="true"
                                                styleSheetFile="../node_modules/bootstrap/dist/css/bootstrap.min.css"
                                                mat-raised-button color="primary"><i class="fas fa-print"></i>
                                                print</button>
                                        </div>
                                        <div id="print-first-form" class="p-4">

                                            <div class="col-sm-12 text-center">
                                                <u><b>
                                                        <h2>Basic Loan Application</h2>
                                                    </b></u>
                                            </div>
                                            <br>
                                            <br>
                                            <div class="row border border-dark rounded px-4">
                                                <div class="col-12 p-4 text-center">
                                                    <u>PERSONAL INFORMATION</u>
                                                </div>

                                                <div class="col-10 p-0">
                                                    <div class="row p-0 ">
                                                        <div class="form-group col-3">
                                                            <b>Applicant Name</b>
                                                        </div>
                                                        <div class="form-group col-4">
                                                            <b>:</b>
                                                            {{loanData.full_name}}
                                                        </div>
                                                        <div class="form-group col-2">
                                                            <b>Email ID</b>
                                                        </div>
                                                        <div class="form-group col-3">
                                                            <b>:</b>
                                                            {{loanData.email}}
                                                        </div>


                                                        <div class="form-group col-3">
                                                            <b> Fathers Name</b>
                                                        </div>
                                                        <div class="form-group col-4">
                                                            <b>:</b>
                                                            {{loanData.fathers_name}}
                                                        </div>
                                                        <div class="form-group col-2">
                                                            <b>Mobile No.</b>
                                                        </div>
                                                        <div class="form-group col-3">
                                                            <b>:</b>
                                                            {{loanData.phone_no}}
                                                        </div>

                                                        <div class="form-group col-3">
                                                            <b>Gender</b>
                                                        </div>
                                                        <div class="form-group col-4">
                                                            <b>:</b>
                                                            {{loanData.gender}}
                                                        </div>

                                                        <div class="form-group col-2">
                                                            <b>Date of Birth</b>
                                                        </div>
                                                        <div class="form-group col-3">
                                                            <b>:</b>
                                                            {{loanData.dob |date:'dd-MM-YYYY'}}
                                                        </div>

                                                        <div class="form-group col-3">
                                                            <b>Address</b>
                                                        </div>
                                                        <div class="form-group col-4">
                                                            <b>:</b>
                                                            {{loanData.address}}
                                                        </div>

                                                    </div>
                                                </div>

                                                <div class="col-2">
                                                    <img class="img-fluid border border-dark"
                                                        src="{{endpoint}}/docs/customer/{{loanData.membershipId+'_'}}/{{loanData.photo}}">
                                                    <br><br>
                                                    <img class="img-fluid border border-dark"
                                                        src="{{endpoint}}/docs/customer/{{loanData.membershipId+'_'}}/{{loanData.sign}}">
                                                </div>

                                            </div>

                                            <br>
                                            <div class="row border border-dark rounded px-4">
                                                <div class="col-12 p-4 text-center">
                                                    <u>EMPOLYEE DETAILS</u>
                                                </div>
                                                <div class="form-group col-2">
                                                    <b>Employement Type</b>
                                                </div>
                                                <div class="form-group col-4">
                                                    <b>:</b>
                                                    {{loanData.l_emp_type}}
                                                </div>
                                                <div class="form-group col-2">
                                                    <b>Annual Income</b>
                                                </div>
                                                <div class="form-group col-4">
                                                    <b>:</b>
                                                    {{loanData.l_annual_incm | currency:'INR':'symbol':'1.2-2'}}
                                                </div>
                                            </div>
                                            <br>
                                            <div class="row border border-dark rounded px-4">
                                                <div class="col-12 p-4 text-center">
                                                    <u>PRODUCT DETAILS</u>
                                                </div>

                                                <!-- for employee -->
                                                <div class="form-group col-2">
                                                    <b>Product Category</b>
                                                </div>
                                                <div class="form-group col-4">
                                                    <b>:</b>
                                                    {{loanData.l_product_ategory}}
                                                </div>
                                                <div class="form-group col-2">
                                                    <b>Make</b>
                                                </div>
                                                <div class="form-group col-4">
                                                    <b>:</b>
                                                    {{loanData.l_make}}
                                                </div>

                                                <div class="form-group col-2">
                                                    <b>Model</b>
                                                </div>
                                                <div class="form-group col-4">
                                                    <b>:</b>
                                                    {{loanData.l_model}}
                                                </div>
                                                <div class="form-group col-2">
                                                    <b>Serial No.</b>
                                                </div>
                                                <div class="form-group col-4">
                                                    <b>:</b>
                                                    {{loanData.l_serial_no}}
                                                </div>
                                            </div>
                                            <br>
                                            <div class="row border border-dark rounded px-4">
                                                <div class="col-12 p-4 text-center">
                                                    <u>FINANCE DETAILS</u>
                                                </div>

                                                <!-- for employee -->
                                                <div class="form-group col-2">
                                                    <b>Product Cost</b>
                                                </div>
                                                <div class="form-group col-4">
                                                    <b>:</b>
                                                    {{loanData.l_product_cost | currency:'INR':'symbol':'1.2-2'}}
                                                </div>
                                                <div class="form-group col-2">
                                                    <b>Tenure</b>
                                                </div>
                                                <div class="form-group col-4">
                                                    <b>:</b>
                                                    12 Months
                                                </div>

                                                <div class="form-group col-2">
                                                    <b>Total Return Amount </b>
                                                </div>
                                                <div class="form-group col-4">
                                                    <b>:</b>
                                                    {{loanData.l_total_return_amnt | currency:'INR':'symbol':'1.2-2'}}
                                                </div>
                                                <div class="form-group col-2">
                                                    <b>Processing Fee</b>
                                                </div>
                                                <div class="form-group col-4">
                                                    <b>:</b>
                                                    {{loanData.l_processing_fee | currency:'INR':'symbol':'1.2-2'}}
                                                </div>

                                                <div class="form-group col-2">
                                                    <b>EMI</b>
                                                </div>
                                                <div class="form-group col-4">
                                                    <b>:</b>
                                                    {{loanData.emi_amnt | currency:'INR':'symbol':'1.2-2'}}
                                                </div>
                                                <div class="form-group col-2">
                                                    <b>Adv. EMI ({{loanData.l_tenure}} Months)</b>
                                                </div>
                                                <div class="form-group col-4">
                                                    <b>:</b>
                                                    {{loanData.adv_emi | currency:'INR':'symbol':'1.2-2'}}
                                                </div>
                                            </div>
                                            <br>
                                            <div class="row border border-dark rounded px-4">
                                                <div class="col-12 p-4 text-center">
                                                    <u>VENDOR DETAILS</u>
                                                </div>

                                                <!-- for employee -->
                                                <div class="form-group col-2">
                                                    <b>Shop Name</b>
                                                </div>
                                                <div class="form-group col-4">
                                                    <b>:</b>
                                                    {{loanData.shop_name}}
                                                </div>
                                                <div class="form-group col-2">
                                                    <b>Proprietor Name</b>
                                                </div>
                                                <div class="form-group col-4">
                                                    <b>:</b>
                                                    {{loanData.proprietor_name}}
                                                </div>

                                                <div class="form-group col-2">
                                                    <b>Phone Name</b>
                                                </div>
                                                <div class="form-group col-4">
                                                    <b>:</b>
                                                    {{loanData.contact_number_1}}
                                                </div>
                                                <div class="form-group col-2">
                                                    <b>GST Number</b>
                                                </div>
                                                <div class="form-group col-4">
                                                    <b>:</b>
                                                    {{loanData.gst_number}}
                                                </div>
                                                <div class="form-group col-2">
                                                    <b>Account Name</b>
                                                </div>
                                                <div class="form-group col-4">
                                                    <b>:</b>
                                                    {{loanData.ac_name}}
                                                </div>

                                                <div class="form-group col-2">
                                                    <b>Account Number</b>
                                                </div>
                                                <div class="form-group col-4">
                                                    <b>:</b>
                                                    {{loanData.ac_number}}
                                                </div>
                                                <div class="form-group col-2">
                                                    <b>IFSC Code</b>
                                                </div>
                                                <div class="form-group col-4">
                                                    <b>:</b>
                                                    {{loanData.ifsc}}
                                                </div>
                                                <div class="form-group col-2">
                                                    <b>Bank Name</b>
                                                </div>
                                                <div class="form-group col-4">
                                                    <b>:</b>
                                                    {{loanData.bank_name}}
                                                </div>

                                                <div class="form-group col-2">
                                                    <b>Branch Name</b>
                                                </div>
                                                <div class="form-group col-4">
                                                    <b>:</b>
                                                    {{loanData.bank_branch}}
                                                </div>
                                                <div class="form-group col-2">
                                                    <b>Address</b>
                                                </div>
                                                <div class="form-group col-4">
                                                    <b>:</b>
                                                    {{loanData.vendor_address}}
                                                </div>
                                                <div class="form-group col-2">
                                                    <b>City</b>
                                                </div>
                                                <div class="form-group col-4">
                                                    <b>:</b>
                                                    {{loanData.city}}
                                                </div>

                                                <div class="form-group col-2">
                                                    <b>Post Office</b>
                                                </div>
                                                <div class="form-group col-4">
                                                    <b>:</b>
                                                    {{loanData.p_o}}
                                                </div>
                                                <div class="form-group col-2">
                                                    <b>District</b>
                                                </div>
                                                <div class="form-group col-4">
                                                    <b>:</b>
                                                    {{loanData.district}}
                                                </div>
                                                <div class="form-group col-2">
                                                    <b>State</b>
                                                </div>
                                                <div class="form-group col-4">
                                                    <b>:</b>
                                                    {{loanData.state}}
                                                </div>
                                                <div class="form-group col-2">
                                                    <b>PIN Code</b>
                                                </div>
                                                <div class="form-group col-4">
                                                    <b>:</b>
                                                    {{loanData.pin_code}}
                                                </div>
                                            </div>
                                            <br>
                                            <p>
                                                I declared that all the particulars and informations given in above are
                                                true, correct,
                                                completed and up to date. In respect of
                                                Loan approval if any more information required I agree to submit at any
                                                time. I
                                                understand that the sanctions of Loan is subject
                                                to the execution of documents as required by the institution.
                                            </p>
                                            <p>
                                                I promised that the funds shall be utilised only on the purpose as
                                                stated herein above.
                                                I appreciate that the institution has a
                                                right to make such inquiries on me if they think fit.
                                            </p>
                                            <p>
                                                I ensure that I am not a defaulter of any financial institutions as a
                                                borrower or guarantor
                                                of any person.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>





                        <div class="card">
                            <div class="card-header" id="headingThirteen">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left collapsed" type="button"
                                        data-toggle="collapse" data-target="#documets" aria-expanded="false"
                                        aria-controls="documets">
                                        Ducuments
                                    </button>
                                </h2>
                            </div>
                            <div id="documets" class="collapse" aria-labelledby="headingThirteen"
                                data-parent="#accordionExample">
                                <div class="card-body">


                                    <div id="print-eight-form" class="">
                                        <div class="col-sm-12">
                                            <div class="row p-2">
                                                <div class="col-sm-12">
                                                    <h4><u>Applicant Documents:</u></h4>
                                                </div>
                                                <div class="col-sm-4">
                                                    <a target="_blank"
                                                        href="{{endpoint}}/docs/customer/{{loanData.membershipId+'_'}}/{{loanData.panCard}}">
                                                        <div class="btn btn-primary btn-block">PAN Card</div>
                                                    </a>
                                                </div>

                                                <div class="col-sm-4">
                                                    <a target="_blank"
                                                        href="{{endpoint}}/docs/customer/{{loanData.membershipId+'_'}}/{{loanData.adharCard}}">
                                                        <div class="btn btn-primary btn-block">ADHAR Card</div>
                                                    </a>
                                                </div>
                                            </div>


                                            <div class="row p-2">
                                                <div class="col-sm-4">
                                                    <a target="_blank"
                                                        href="{{endpoint}}/docs/customer/{{loanData.membershipId+'_'}}/{{loanData.product_photo}}">
                                                        <div class="btn btn-primary btn-block">Product Image</div>
                                                    </a>
                                                </div>

                                                <div class="col-sm-4">
                                                    <a target="_blank"
                                                        href="{{endpoint}}/docs/customer/{{loanData.membershipId+'_'}}/{{loanData.incm_prf}}">
                                                        <div class="btn btn-primary btn-block">Income proof</div>
                                                    </a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>






                    </div>
                </div>
                <!-- /.row (main row) -->
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
    <!-- Account Opening Modal -->
    <!-- update Modal -->

    <!-- end model -->



</div>