<!-- Loading starts -->
<div id="loading-wrapper" *ngIf="isLodaing">
    <ngx-spinner bdColor="rgba(0,0,0,0.9)" type="ball-clip-rotate"></ngx-spinner>
</div>

<!-- Loading ends -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="card px-2">
                <div class="row mb-2">
                    <div class="col-sm-6 pt-1">
                        <h1 class="m-0">Loan Application Request</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6 pt-2">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">Loan Application Request</li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div>
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->

    <section class="content">
        <div class="container-fluid">
            <div class="card p-2">
                <div class="mat-elevation-z8">
                    <form class="example-form">
                        <mat-form-field class="example-full-width">
                            <mat-label>Search Here</mat-label>
                            <input matInput (keyup)="FilterChange($event)" placeholder="Search">
                        </mat-form-field>
                    </form>
                    <table mat-table [dataSource]="dataSource">


                        <!-- Serial number Column -->
                        <ng-container matColumnDef="Sl">
                            <th mat-header-cell *matHeaderCellDef class="text-center"> Sl. No. </th>
                            <td mat-cell *matCellDef="let element let i = index;" class="text-center">
                                {{ paginator.pageIndex*paginator.pageSize + (i + 1) }}
                            </td>
                        </ng-container>

                        <!-- Name Column -->
                        <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef> Name </th>
                            <td mat-cell *matCellDef="let element"> {{element.full_name}}</td>
                        </ng-container>

                        <!-- Name Column -->
                        <ng-container matColumnDef="membershipId">
                            <th mat-header-cell *matHeaderCellDef> Membership ID</th>
                            <td mat-cell *matCellDef="let element"> {{element.membership_id}} </td>
                        </ng-container>

                        <!-- Name Column -->
                        <ng-container matColumnDef="loan_amnt">
                            <th mat-header-cell *matHeaderCellDef>Loan Amount</th>
                            <td mat-cell *matCellDef="let element"> {{element.apply_amount |
                                currency:'INR':'symbol':'1.2-2'}} </td>
                        </ng-container>

                        <!-- Name Column -->
                        <ng-container matColumnDef="referenceNo">
                            <th mat-header-cell *matHeaderCellDef> Reference Number </th>
                            <td mat-cell *matCellDef="let element"> {{element.reference_no}} </td>
                        </ng-container>

                        <!-- Name Column -->
                        <ng-container matColumnDef="Office">
                            <th mat-header-cell *matHeaderCellDef> Office </th>
                            <td mat-cell *matCellDef="let element"> {{element.fwd_status}} </td>
                        </ng-container>

                        <!-- Name Column -->
                        <ng-container matColumnDef="status">
                            <th mat-header-cell *matHeaderCellDef> Status </th>
                            <td mat-cell *matCellDef="let element">
                                <div class="text-warning" *ngIf="element.loan_status == 'Applied'">
                                    {{element.loan_status}}</div>
                                <div class="text-purple" *ngIf="element.loan_status == 'Approved'">
                                    {{element.loan_status}} </div>
                                <div class="text-success" *ngIf="element.loan_status == 'Completed'">
                                    {{element.loan_status}} </div>
                                <div class="text-danger" *ngIf="element.loan_status == 'Rejected'">
                                    {{element.loan_status}} </div>
                            </td>
                        </ng-container>

                        <!-- Name Column -->
                        <ng-container matColumnDef="apply_date">
                            <th mat-header-cell *matHeaderCellDef> Apply Date </th>
                            <td mat-cell *matCellDef="let element"> {{element.apply_date | date:"dd/MM/yyyy"}} </td>
                        </ng-container>

                        <!-- Name Column -->
                        <ng-container matColumnDef="action">
                            <th mat-header-cell *matHeaderCellDef>Action</th>
                            <td mat-cell *matCellDef="let element">
                                <div class="text-warning"
                                    *ngIf="element.bm_status != 'Forwarded' && element.lo_status == null"><i
                                        class="fas fa-exclamation-triangle"></i> Action required</div>
                                <div class="text-lightblue"
                                    *ngIf="element.bm_status == 'Forwarded' && element.lo_status == null"><i
                                        class="fas fa-share"></i> {{element.bm_status}} </div>
                                <div class="text-success" *ngIf="element.loan_status == 'Completed'"><i
                                        class="fas fa-check-circle"></i> Done </div>

                                <div class="text-danger"
                                    *ngIf="element.cm_status == 'Rejected' || element.md_status == 'Rejected' || element.lo_status == 'Rejected'">
                                    <i class="fas fa-times-circle"></i> Action required (Rejected)
                                </div>
                                <div class="text-purple" *ngIf="element.loan_status == 'Approved'"><i class="fas fa-hourglass-start"></i> Ready to
                                    disbursed
                                </div>
                        </ng-container>

                        <!-- Action Column -->
                        <ng-container matColumnDef="go">
                            <th mat-header-cell *matHeaderCellDef class="text-center"> Go </th>
                            <td mat-cell *matCellDef="let element" class="text-center">
                                <button *ngIf="element.loan_status == 'Approved'" (click)="showUpdateModal(element)"
                                    data-toggle="modal" data-target="#requestUpdate" mat-raised-button color="purple"><i
                                        class="fas fa-arrow-circle-right"></i></button>
                                <a *ngIf="element.loan_status != 'Approved' " target="_blank"
                                    routerLink="/loan-request-details/{{element.id}}" mat-raised-button
                                    color="primary"><i class="fas fa-arrow-circle-right"></i></a>
                            </td>
                        </ng-container>


                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>

                    <mat-paginator [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons
                        aria-label="Select page of periodic elements">
                    </mat-paginator>
                </div>
            </div>
            <!-- Main row -->
            <div class="row">

            </div>
            <!-- /.row (main row) -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
    <!-- update Modal -->
    <div class="modal fade" id="requestUpdate" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Disbursh loan application data</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" id="modalClose">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="row">



                        <div class="col-sm-12 text-center head-color h6 p-0 m-0">
                            <h3><b>DETAILS OF CHEQUES</b></h3>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label>Name of the drawee bank:<span class="required">*</span></label>
                                    <input type="text" class="form-control" placeholder="Name of the drawee bank"
                                        [(ngModel)]="inputData.c_bank_name">
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Name of the drawee branch:<span class="required">*</span></label>
                                    <input type="text" class="form-control" placeholder="Name of the drawee branch"
                                        [(ngModel)]="inputData.c_br_name">
                                </div>

                                <div class="form-group col-md-6">
                                    <label>SB A/c OR Current A/c:<span class="required">*</span></label>
                                    <input type="text" class="form-control" placeholder="SB A/c OR Current A/c"
                                        [(ngModel)]="inputData.c_account">
                                </div>

                                <div class="form-group col-md-6">
                                    <label>Name in A/c:<span class="required">*</span></label>
                                    <input type="text" class="form-control" placeholder="Name in A/c"
                                        [(ngModel)]="inputData.c_name_in_ac">
                                </div>

                                <div class="form-group col-md-6">
                                    <label>MICR Sort Code (9 digits):<span class="required">*</span></label>
                                    <input type="number" min="0" class="form-control"
                                        placeholder="MICR Sort Code (9 digits)" [(ngModel)]="inputData.c_micr">
                                </div>

                                <div class="form-group col-md-6">
                                    <label>Number of Cheque Leavs:<span class="required">*</span></label>
                                    <input type="number" min="0" class="form-control"
                                        placeholder="Number of Cheque Leavs" [(ngModel)]="inputData.c_ck_leave">
                                </div>

                                <div class="form-group col-md-6">
                                    <label>Date of Commencement:<span class="required">*</span></label>
                                    <input type="date" class="form-control" placeholder="Date of Commencement"
                                        [(ngModel)]="inputData.c_commencement">
                                </div>

                                <div class="form-group col-md-6">
                                    <label>Cheques Numbers:<span class="required">*</span></label>
                                    <input type="number" min="0" class="form-control" placeholder="Cheques Numbers"
                                        [(ngModel)]="inputData.c_ck_number">
                                </div>

                                <div class="form-group col-md-6">
                                    <label>Amount of Cheques:<span class="required">*</span></label>
                                    <input type="number" min="0" class="form-control" placeholder="Amount of Cheques"
                                        [(ngModel)]="inputData.c_ck_amnt">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <hr>
                        </div>

                        <!-- ********************** -->
                        <!-- <div class="col-sm-12 text-center upload head-color p-0">
                            <h3><b>UPLOAD DOCUMENTS</b></h3>
                        </div> -->
                        <div class="col-md-12 text-primary">
                            <h3 class="text-danger"><u>(Max size 300kb, pdf)</u></h3>
                        </div>





                        <div class="col-md-4 rqrd">
                            <label for="inputEmail4">Cheque leaf 1:<span class="required">*</span></label>
                            <div class="form-row">
                                <div class="form-group col-12">
                                    <label class="custom-file-label" for="file">{{cheque_leaf_1}}</label>
                                    <input type="file" accept="image/png, image/gif, image/jpg, image/jpeg"
                                        class="custom-file-input" aria-describedby="inputGroupFileAddon01" name="file"
                                        id="file" (change)="onFileSelectedCkLf1($event)">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-12">
                                    <button class="btn"
                                        [ngClass]="{'btn-success': successCkLf1==false, 'btn-warning': successCkLf1}"
                                        (click)="uploadCkLf1()"><i class="fas fa-upload"></i> Upload</button>
                                </div>

                                <div class="form-group col-12" *ngIf="successCkLf1">
                                    <p class="text-success">Upload Successful!</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 rqrd">
                            <label for="inputEmail4">Cheque leaf 2:<span class="required">*</span></label>
                            <div class="form-row">
                                <div class="form-group col-12">
                                    <label class="custom-file-label" for="file">{{cheque_leaf_2}}</label>
                                    <input type="file" accept="image/png, image/gif, image/jpg, image/jpeg"
                                        class="custom-file-input" aria-describedby="inputGroupFileAddon01" name="file"
                                        id="file" (change)="onFileSelectedCkLf2($event)">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-12">
                                    <button class="btn"
                                        [ngClass]="{'btn-success': successCkLf2==false, 'btn-warning': successCkLf2}"
                                        (click)="uploadCkLf2()"><i class="fas fa-upload"></i> Upload</button>
                                </div>

                                <div class="form-group col-12" *ngIf="successCkLf2">
                                    <p class="text-success">Upload Successful!</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 rqrd">
                            <label for="inputEmail4">Cheque leaf 3:<span class="required">*</span></label>
                            <div class="form-row">
                                <div class="form-group col-12">
                                    <label class="custom-file-label" for="file">{{cheque_leaf_3}}</label>
                                    <input type="file" accept="image/png, image/gif, image/jpg, image/jpeg"
                                        class="custom-file-input" aria-describedby="inputGroupFileAddon01" name="file"
                                        id="file" (change)="onFileSelectedCkLf3($event)">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-12">
                                    <button class="btn"
                                        [ngClass]="{'btn-success': successCkLf3==false, 'btn-warning': successCkLf3}"
                                        (click)="uploadCkLf3()"><i class="fas fa-upload"></i> Upload</button>
                                </div>

                                <div class="form-group col-12" *ngIf="successCkLf3">
                                    <p class="text-success">Upload Successful!</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <hr>
                        </div>
                        <div class="col-12">
                        <div class="form-row">
                            <div class="col-6 p-2 bg-warning">
                                <b>Loan Apply Amount:</b> {{inputData.apply_amount | currency:'INR':'symbol':'1.2-2'}}
                            </div>
                            <div class="col-6 p-2 bg-success text-right">
                                <b>Loan Approved Amount:</b> {{inputData.cm_proposed_amnt | currency:'INR':'symbol':'1.2-2'}}
                            </div>
                        </div>
                        <br>
                        </div>
                        

                        <div class="col-sm-12">
                            <div class="form-row">
                                <div class="form-group col-md-3">
                                    <label for="inputEmail4">Sanction Number:<span class="required">*</span></label>
                                    <input type="number" class="form-control" [(ngModel)]="inputData.sanction_no"
                                        placeholder="Sanction Number">
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="inputEmail4">Interest Type:<span class="required">*</span></label>
                                    <select class="form-control" [(ngModel)]="inputData.interest_type">
                                        <option label="--Please Select --"></option>
                                        <option value="Flat">Flat</option>
                                        <option value="Simple">Simple</option>
                                        <option value="Reducing">Reducing</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="inputEmail4">Loan Start Date:<span class="required">*</span></label>
                                    <input type="date" class="form-control" [(ngModel)]="inputData.loanStart">
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="inputEmail4">Loan End Date:<span class="required">*</span></label>
                                    <input type="date" class="form-control" [(ngModel)]="inputData.loanEnd">
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="inputEmail4">Amount of EMI:<span class="required">*</span></label>
                                    <input type="number" class="form-control" [(ngModel)]="inputData.amount_of_emi"
                                        placeholder="Amount of EMI">
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="inputEmail4">Number of EMI<span class="required">*</span></label>
                                    <input type="number" class="form-control" [(ngModel)]="inputData.number_of_emi"
                                        placeholder="Number of EMI">
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="inputEmail4">Processing Fee<span class="required">*</span></label>
                                    <input type="number" class="form-control" [(ngModel)]="inputData.processing_fee"
                                        placeholder="Processing Fee">
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="inputEmail4">MSS Super Fee<span class="required">*</span></label>
                                    <input type="number" class="form-control" [(ngModel)]="inputData.mss_super_fee"
                                        placeholder="MSS Super Fee">
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="inputEmail4">Lapsed Deposit<span class="required">*</span></label>
                                    <input type="number" class="form-control" [(ngModel)]="inputData.Lapsed_eposit"
                                        placeholder="Lapsed Deposit">
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="inputEmail4">Others</label>
                                    <input type="text" class="form-control" [(ngModel)]="inputData.others"
                                        placeholder="Others">
                                </div>
                            </div>
                        </div>


                        <div class="col-md-12 text-center pb-2">
                            <button mat-raised-button color="primary" (click)="save()">Final Submit</button>
                        </div>
                    </div>



                </div>
            </div>
        </div>
    </div>
    <!-- end model -->
    <!-- Loan Account Opening Modal -->
</div>