<!-- Loading starts -->
<div id="loading-wrapper" *ngIf="isLodaing">
    <ngx-spinner bdColor="rgba(0,0,0,0.9)" type="ball-clip-rotate"></ngx-spinner>
  </div>
  
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="card px-2">
                <div class="row mb-2">
                    <div class="col-sm-6 pt-1">
                        <h1 class="m-0">Users List</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6 pt-2">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">Users</li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div>
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="card">
                <div class="card-body">
                    <!-- Small boxes (Stat box) -->
                    <div class="row justify-content-end p-3">
                        <button mat-raised-button color="primary" data-toggle="modal" data-target="#exampleModal">+ Add
                            New Users</button>
                    </div>
                    <div class="mat-elevation-z8">
                        <form class="example-form">
                            <mat-form-field class="example-full-width">
                                <mat-label>Search Here</mat-label>
                                <input matInput (keyup)="FilterChange($event)" placeholder="Search">
                            </mat-form-field>
                        </form>
                        <table matSort mat-table [dataSource]="dataSource">


                            <!-- Serial number Column -->
                            <ng-container matColumnDef="Sl">
                                <th mat-header-cell *matHeaderCellDef class="text-center"> Sl. No. </th>
                                <td mat-cell *matCellDef="let element let i = index;" class="text-center">
                                    {{ paginator.pageIndex*paginator.pageSize + (i + 1) }}
                                </td>
                            </ng-container>

                            <!-- Name Column -->
                            <ng-container matColumnDef="user_name">
                                <th mat-sort-header mat-header-cell *matHeaderCellDef> Name </th>
                                <td mat-cell *matCellDef="let element"> {{element.f_name}} {{element.l_name}} </td>
                            </ng-container>

                            <!-- Name Column -->
                            <ng-container matColumnDef="position">
                                <th mat-sort-header mat-header-cell *matHeaderCellDef> Position </th>
                                <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                            </ng-container>

                            <!-- Name Column -->
                            <ng-container matColumnDef="category">
                                <th mat-sort-header mat-header-cell *matHeaderCellDef> Category </th>
                                <td mat-cell *matCellDef="let element"> {{element.category}} </td>
                            </ng-container>

                            <!-- Name Column -->
                            <ng-container matColumnDef="designation">
                                <th mat-sort-header mat-header-cell *matHeaderCellDef> Designation </th>
                                <td mat-cell *matCellDef="let element"> {{element.designation}} </td>
                            </ng-container>

                            <!-- Name Column -->
                            <ng-container matColumnDef="salaried">
                                <th mat-sort-header mat-header-cell *matHeaderCellDef> Salaried </th>
                                <td mat-cell *matCellDef="let element"> {{element.salaried}} </td>
                            </ng-container>

                            <!-- Name Column -->
                            <ng-container matColumnDef="email">
                                <th mat-sort-header mat-header-cell *matHeaderCellDef> Email </th>
                                <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                            </ng-container>

                            <!-- Name Column -->
                            <ng-container matColumnDef="phone_no">
                                <th mat-sort-header mat-header-cell *matHeaderCellDef> Phone </th>
                                <td mat-cell *matCellDef="let element"> {{element.phone_no}} </td>
                            </ng-container>

                            <!-- Name Column -->
                            <ng-container matColumnDef="active">
                                <th mat-sort-header mat-header-cell *matHeaderCellDef> Status </th>
                                <td mat-cell *matCellDef="let element"> {{element.active}} </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>

                        <mat-paginator [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons
                            aria-label="Select page of periodic elements">
                        </mat-paginator>
                    </div>
                </div>
            </div>

            <!-- Main row -->
            <div class="row">

            </div>
            <!-- /.row (main row) -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
    <!-- Add Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">ADD NEW USER</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" id="modalClose">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="card-body">
                        <div class="col-sm-12">
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label for="inputEmail4">First Name:</label>
                                    <input type="text" class="form-control" [(ngModel)]="userInputData.f_name"
                                        id="inputEmail4" placeholder="First Name">
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="inputEmail4">Last Name:</label>
                                    <input type="text" class="form-control" [(ngModel)]="userInputData.l_name"
                                        id="inputEmail4" placeholder="Last Name">
                                </div>

                                <div class="form-group col-md-4">
                                    <label for="inputEmail4"> Email:</label>
                                    <input type="email" class="form-control" [(ngModel)]="userInputData.email"
                                        id="inputEmail4" placeholder="Email">
                                </div>

                                <div class="form-group col-md-4">
                                    <label for="inputEmail4"> Phone:</label>
                                    <input type="number" class="form-control" [(ngModel)]="userInputData.phone_no"
                                        id="inputEmail4" placeholder="phone">
                                </div>

                                <div class="form-group col-md-4">
                                    <label for="inputEmail4">Position:</label>
                                    <select id="inputState" class="form-control" [(ngModel)]="userInputData.position">
                                        <option label="Please Select"></option>
                                        <option value="Branch Manager">Branch Manager</option>
                                        <option value="Cashier">Cashier</option>
                                        <option value="Field Agent">Field Agent</option>
                                        <option value="Field Assistant">Field Assistant</option>
                                        <option value="Driver">Driver</option>
                                    </select>
                                </div>

                                <div class="form-group col-md-4">
                                    <label for="inputEmail4">Category:</label>
                                    <select id="inputState" class="form-control" [(ngModel)]="userInputData.category">
                                        <option label="Please Select"></option>
                                        <option value="NON MANAGERIAL STAFF">NON MANAGERIAL STAFF</option>
                                        <option value="MANAGERIAL STAFF">MANAGERIAL STAFF</option>
                                        <option value="OFFICE ASSISTANT STAFF">OFFICE ASSISTANT STAFF</option>
                                        <option value="FIELD EXECUTIVE STAFF">FIELD EXECUTIVE STAFF</option>
                                        <option value="DO, ADO STAFF">DO, ADO STAFF</option>
                                    </select>
                                </div>

                                <div class="form-group col-md-4">
                                    <label for="inputEmail4">Designation:</label>
                                    <select id="inputState" class="form-control" [(ngModel)]="userInputData.designation">
                                        <option label="Please Select"></option>
                                        <option value="Transaction Officer">Transaction Officer</option>
                                        <option value="Accountant">Accountant</option>
                                        <option value="Registrar">Registrar</option>
                                        <option value="Peon">Peon</option>
                                        <option value="MD">MD</option>
                                        <option value="Credit Officier">Credit Officier</option>
                                        <option value="Branch Manager">Branch Manager</option>
                                        <option value="Loan Manager">Loan Manager</option>
                                        <option value="Assistant Loan Manager">Assistant Loan Manager</option>
                                        <option value="Assistant Branch Manager">Assistant Branch Manager</option>
                                        <option value="Office Assistant">Office Assistant</option>
                                        <option value="Field Executive">Field Executive</option>
                                        <option value="Development Officier">Development Officier</option>
                                        <option value="Asst. DO">Asst. DO</option>
                                        <option value="Field Agent">Field Agent</option>
                                    </select>
                                </div>

                                <div class="form-group col-md-4">
                                    <label for="inputEmail4">Salaried:</label>
                                    <select id="inputState" class="form-control" [(ngModel)]="userInputData.salaried">
                                        <option label="Please Select"></option>
                                        <option value="Yes">Yes</option>
                                        <option value="No">No</option>
                                    </select>
                                </div>

                                <div class="form-group col-md-4">
                                    <label for="inputEmail4"> Employee ID:</label>
                                    <input type="text" class="form-control" [(ngModel)]="userInputData.employeeId"
                                        id="inputEmail4" placeholder="Employee ID">
                                </div>

                                <div class="form-group col-md-5">
                                    <label for="inputEmail4">Address:</label>
                                    <textarea class="form-control" placeholder="Address"
                                        [(ngModel)]="userInputData.address"></textarea>
                                </div>
                            </div>

                        </div>

                        <div class="form-group row">
                            <div class="col-sm-12 text-center">
                                <button mat-raised-button color="primary" (click)="save()">Sumbit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end model -->
    </div>
</div>