<!-- Loading starts -->
<div id="loading-wrapper" *ngIf="isLodaing">
    <ngx-spinner bdColor="rgba(0,0,0,0.9)" type="ball-clip-rotate"></ngx-spinner>
</div>

<!-- Loading ends -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="card px-2">
                <div class="row mb-2">
                    <div class="col-sm-6 pt-1">
                        <h1 class="m-0">Salary</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6 pt-2">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">Salary</li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div>
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->

    <section class="content">
        <div class="container-fluid">
            <div class="card p-2">
                <div class="row">
                    <!-- <div class="col-md-6 text-center p-3">
                    <div class="btn btn-primary" (click)="openSalaryGen()">Salary generate</div>
                </div>
                <div class="col-md-6 text-center p-3">
                    <div class="btn btn-primary" (click)="openSalaryDown()">Salary Slip download</div>
                </div> -->
                    <div class="col-12 pt-3" *ngIf="salaryGen == false">
                        <div class="row">
                            <div class="col-md-6 offset-md-3">
                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                        <label>Month:<span class="required">*</span></label>
                                        <select class="form-control" [(ngModel)]="inputData.month">
                                            <option label="Please Select"></option>
                                            <option value="01">January</option>
                                            <option value="02">February</option>
                                            <option value="03">March</option>
                                            <option value="04">April</option>
                                            <option value="05">May</option>
                                            <option value="06">June</option>
                                            <option value="07">July</option>
                                            <option value="08">August</option>
                                            <option value="09">September</option>
                                            <option value="10">October</option>
                                            <option value="11">November</option>
                                            <option value="12">December</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label>Year:<span class="required">*</span></label>
                                        <select class="form-control" [(ngModel)]="inputData.year">
                                            <option label="Please Select"></option>
                                            <option value="2024">2024</option>
                                            <option value="2025">2025</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label><span class="required">*</span></label>
                                        <button class="btn btn-primary form-control"
                                            (click)="checkSalaries()">Check</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" *ngIf="salaryDown">
                            <div class="col-12">
                                Salary form for the <b>{{inputData.monthName}} - {{inputData.year}}</b>
                            </div>
                            <div class="col-12 scroll-container">
                                <table class="table table-hover table-striped">
                                    <thead>
                                        <tr>
                                            <th class="bg-success text-center">STAFF CATEGORY</th>
                                            <th class="bg-success text-center">STAFF NAME</th>
                                            <th class="bg-success text-center">DESIGNATIONS</th>
                                            <th class="bg-success text-center">EMPLOYEE CODE</th>
                                            <th class="bg-success text-center">BASIC PAY</th>
                                            <th class="bg-success text-center">PERFORMANCE ALLOWANCE</th>
                                            <th class="bg-success text-center">TRAVELLING ALLOWANCE</th>
                                            <th class="bg-success text-center">OTHER ALLOWANCES</th>
                                            <th class="bg-success text-center">GROSS SALARY</th>
                                            <th class="bg-success text-center">PROFESSIONAL FEE</th>
                                            <th class="bg-success text-center">INSURANCE FEE</th>
                                            <th class="bg-success text-center">EWF DEPOSIT</th>
                                            <th class="bg-success text-center">CANTEEN FEE</th>
                                            <th class="bg-success text-center">ABSENT CHARGES</th>
                                            <th class="bg-success text-center">EWF REFUND</th>
                                            <th class="bg-success text-center">LOAN EMI</th>
                                            <th class="bg-success text-center">OTHERS</th>
                                            <th class="bg-success text-center">NET SALARY</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let employee of employees">
                                            <td>
                                                {{employee.category}}
                                            </td>
                                            <td>
                                                {{employee.f_name}} {{employee.l_name}}
                                            </td>
                                            <td>
                                                {{employee.designation}}
                                            </td>
                                            <td>
                                                {{employee.employeeId}}
                                            </td>
                                            <td>
                                                <input type="number" class="form-control"
                                                    [(ngModel)]="salaries[employee.id].basicPay"
                                                    (input)="calculateGrossSalary(employee.id)"
                                                    (input)="calculateNetPay(employee.id)" placeholder="Enter salary" />
                                            </td>
                                            <td>
                                                <input type="number" class="form-control"
                                                    [(ngModel)]="salaries[employee.id].pA"
                                                    (input)="calculateGrossSalary(employee.id)"
                                                    (input)="calculateNetPay(employee.id)"
                                                    placeholder="Enter basic pay" />
                                            </td>
                                            <td>
                                                <input type="number" class="form-control"
                                                    [(ngModel)]="salaries[employee.id].tA"
                                                    (input)="calculateGrossSalary(employee.id)"
                                                    (input)="calculateNetPay(employee.id)"
                                                    placeholder="Enter net pay" />
                                            </td>
                                            <td>
                                                <input type="number" class="form-control"
                                                    [(ngModel)]="salaries[employee.id].oA"
                                                    (input)="calculateGrossSalary(employee.id)"
                                                    (input)="calculateNetPay(employee.id)"
                                                    placeholder="Enter other allowances" />
                                            </td>
                                            <td>
                                                <input type="number" class="form-control"
                                                    [(ngModel)]="salaries[employee.id].GrossSalary"
                                                    placeholder="Enter net pay" readonly />
                                            </td>
                                            <td>
                                                <input type="number" class="form-control"
                                                    [(ngModel)]="salaries[employee.id].PTax"
                                                    (input)="calculateNetPay(employee.id)"
                                                    (input)="calculateGrossSalary(employee.id)"
                                                    placeholder="Enter net pay" />
                                            </td>
                                            <td>
                                                <input type="number" class="form-control"
                                                    [(ngModel)]="salaries[employee.id].insurance"
                                                    (input)="calculateNetPay(employee.id)"
                                                    (input)="calculateGrossSalary(employee.id)"
                                                    placeholder="Enter net pay" />
                                            </td>
                                            <td>
                                                <input type="number" class="form-control"
                                                    [(ngModel)]="salaries[employee.id].eWF"
                                                    (input)="calculateNetPay(employee.id)"
                                                    (input)="calculateGrossSalary(employee.id)"
                                                    placeholder="Enter net pay" />
                                            </td>
                                            <td>
                                                <input type="number" class="form-control"
                                                    [(ngModel)]="salaries[employee.id].canteenFee"
                                                    (input)="calculateNetPay(employee.id)"
                                                    (input)="calculateGrossSalary(employee.id)"
                                                    placeholder="Enter net pay" />
                                            </td>
                                            <td>
                                                <input type="number" class="form-control"
                                                    [(ngModel)]="salaries[employee.id].absentCharge"
                                                    (input)="calculateNetPay(employee.id)"
                                                    (input)="calculateGrossSalary(employee.id)"
                                                    placeholder="Enter net pay" />
                                            </td>
                                            <td>
                                                <input type="number" class="form-control"
                                                    [(ngModel)]="salaries[employee.id].EWFrefund"
                                                    (input)="calculateNetPay(employee.id)"
                                                    (input)="calculateGrossSalary(employee.id)"
                                                    placeholder="Enter net pay" />
                                            </td>
                                            <td>
                                                <input type="number" class="form-control"
                                                    [(ngModel)]="salaries[employee.id].loanEMI"
                                                    (input)="calculateNetPay(employee.id)"
                                                    (input)="calculateGrossSalary(employee.id)"
                                                    placeholder="Enter net pay" />
                                            </td>
                                            <td>
                                                <input type="number" class="form-control"
                                                    [(ngModel)]="salaries[employee.id].Others"
                                                    (input)="calculateNetPay(employee.id)"
                                                    (input)="calculateGrossSalary(employee.id)"
                                                    placeholder="Enter net pay" />
                                            </td>
                                            <td>
                                                <input type="number" class="form-control"
                                                    [(ngModel)]="salaries[employee.id].netSalary"
                                                    placeholder="Enter net pay" readonly />
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <br>
                            <div class="col-12 text-center">
                                <button class="btn btn-primary" (click)="saveSalaries()">Save Salaries</button>
                            </div>
                        </div>


                        <div class="row" *ngIf="salaryshow">
                            <div class="col-sm-10">
                                Salary form for the <b>{{inputData.monthName}} - {{inputData.year}}</b>
                            </div>
                            <div class="col-sm-2 text-right">
                                <span class="badge badge-warning p-2 btn" data-toggle="modal"
                                data-target="#salaryReport">Report <b><i class="fas fa-download"></i></b></span>
                             </div>
                            <div class="col-12 pt-2 scroll-container-salary">
                                <table class="table table-hover table-striped">
                                    <thead>
                                        <tr>
                                            <th class="bg-success text-center">Sl No.</th>
                                            <th class="bg-success text-center">STAFF CATEGORY</th>
                                            <th class="bg-success text-center">STAFF NAME</th>
                                            <th class="bg-success text-center">DESIGNATIONS</th>
                                            <th class="bg-success text-center">EMPLOYEE CODE</th>
                                            <th class="bg-success text-center">BASIC PAY</th>
                                            <th class="bg-success text-center">NET SALARY</th>
                                            <th class="bg-success text-center">ACTION</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let empData of data; let i = index">
                                            <td>{{i+1}}</td>
                                            <td>
                                                {{empData.category}}
                                            </td>
                                            <td>
                                                {{empData.name}}
                                            </td>
                                            <td>
                                                {{empData.designation}}
                                            </td>
                                            <td>
                                                {{empData.employeeId}}
                                            </td>
                                            <td class="small-bx">
                                                {{empData.basicPay | currency: 'INR':'symbol':'1.0-0'}}
                                            </td>
                                            <td class="small-bx">
                                                {{empData.netSalary | currency: 'INR':'symbol':'1.0-0'}}
                                            </td>
                                            <td class="small-bx">
                                                <button mat-raised-button color="purple"
                                                    (click)="showPaySlipModal(empData)" data-toggle="modal"
                                                    data-target="#salarySlip"><i class="far fa-file"></i></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!-- Main row -->
            <div class="row">

            </div>
            <!-- /.row (main row) -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->

    <div class="modal fade" id="salarySlip" tabindex="-1" role="dialog" aria-labelledby="accountOpeningLabel"
        aria-hidden="true" data-backdrop="static" data-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="accountOpeningLabel">PAY SLIP </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" id="modalClose">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row  px-4">
                        <button printSectionId="pay-slip" ngxPrint [useExistingCss]="true"
                            styleSheetFile="../node_modules/bootstrap/dist/css/bootstrap.min.css" mat-raised-button
                            color="primary"><i class="fas fa-print"></i>
                            print</button>
                    </div>
                    <div class="card-body"  id="pay-slip">
                        <div class="col-12">

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="tab-content border border-secondary rounded pb-2" id="v-pills-tabContent">
                                        <div class="tab-pane fade show active" id="v-pills-loan-application"
                                            role="tabpanel" aria-labelledby="v-pills-home-tab">
                                            <div class="col12 text-center head-color h6">
                                                <!-- <h3><b>CASH COUNTER PAYMENT IMAGE</b></h3> -->
                                                <div class="col-4 p-1 text-center offset-4">
                                                    <img src="../../../assets/image/login/lakhimi-img.png" class="img-fluid text-center"
                                                        alt="Project image">
                                                </div>
                                            </div>

                                            <div class="col-12">
                                                <div class="form-row">
                                                    <table class="table table-bordered">
                                                        <!-- Payslip Header -->
                                                        <thead class="payslip-header" >
                                                            <tr>
                                                                <th colspan="4" class="text-center bg-success">PAY SLIP</th>
                                                            </tr>
                                                        </thead>
                                                        <!-- Employee Details -->
                                                        <tbody>
                                                            <tr>
                                                                <td class="text-right"><strong>EMPLOYEE ID:</strong>
                                                                </td>
                                                                <td class="text-start">{{selectedPaySlip.employeeId}}
                                                                </td>
                                                                <td class="text-right"><strong>EMPLOYEE NAME:</strong>
                                                                </td>
                                                                <td>{{selectedPaySlip.name}}</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="text-right"><strong>DESIGNATION:</strong>
                                                                </td>
                                                                <td>{{selectedPaySlip.designation}}</td>
                                                                <td class="text-right"><strong>For YEAR -
                                                                        MONTH:</strong></td>
                                                                <td>{{selectedPaySlip.year}} -
                                                                    {{selectedPaySlip.monthName}}</td>
                                                            </tr>
                                                            <!-- <tr>
                                                            <td class="text-right"><strong>DATE OF JOINING:</strong></td>
                                                            <td>date</td>
                                                            <td class="text-right"><strong>PRESENT DAYS:</strong></td>
                                                            <td>30</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="text-right"><strong>DESIGNATION:</strong></td>
                                                            <td>{{selectedPaySlip.designation}}</td>
                                                            <td class="text-right"><strong>BANK NAME:</strong></td>
                                                            <td>bank</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="text-right"><strong>DEPUTED AT:</strong></td>
                                                            <td>das</td>
                                                            <td class="text-right"><strong>IFSC CODE:</strong></td>
                                                            <td>bank</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="text-right"><strong>GENDER:</strong></td>
                                                            <td>das</td>
                                                            <td class="text-right"><strong>ACCOUNT NO.:</strong></td>
                                                            <td>bank</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="text-right"><strong>JOB LOCATION:</strong></td>
                                                            <td>das</td>
                                                            <td class="text-right"><strong>For MONTH:</strong></td>
                                                            <td>bank</td>
                                                        </tr> -->
                                                        </tbody>
                                                    </table>

                                                    <!-- Earnings and Deductions Table -->
                                                    <table class="table table-bordered">
                                                        <thead>
                                                            <tr class="highlight">
                                                                <th colspan="2" class="bg-success">DESCRIPTIONS</th>
                                                                <th colspan="2" class="bg-warning">DEDUCTIONS</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td><strong>Basic Pay</strong></td>
                                                                <td>{{selectedPaySlip.basicPay |
                                                                    currency:'INR':'symbol':'1.2-2'}}</td>
                                                                <td><strong>Professional Tax</strong></td>
                                                                <td>{{selectedPaySlip.PTax |
                                                                    currency:'INR':'symbol':'1.2-2'}}</td>
                                                            </tr>
                                                            <tr>
                                                                <td><strong>Performance Allowance</strong></td>
                                                                <td>{{selectedPaySlip.pA |
                                                                    currency:'INR':'symbol':'1.2-2'}}</td>
                                                                <td><strong>Insurance</strong></td>
                                                                <td>{{selectedPaySlip.insurance |
                                                                    currency:'INR':'symbol':'1.2-2'}}</td>
                                                            </tr>
                                                            <tr>
                                                                <td><strong>Travel Allowance</strong></td>
                                                                <td>{{selectedPaySlip.tA |
                                                                    currency:'INR':'symbol':'1.2-2'}}</td>
                                                                <td><strong>EWF Deposit</strong></td>
                                                                <td>{{selectedPaySlip.eWF |
                                                                    currency:'INR':'symbol':'1.2-2'}}</td>
                                                            </tr>
                                                            <tr>
                                                                <td><strong>Other Allowance</strong></td>
                                                                <td>{{selectedPaySlip.oA |
                                                                    currency:'INR':'symbol':'1.2-2'}}</td>
                                                                <td><strong>EWF Refund</strong></td>
                                                                <td>{{selectedPaySlip.EWFrefund |
                                                                    currency:'INR':'symbol':'1.2-2'}}</td>
                                                            </tr>
                                                            <tr>
                                                                <td></td>
                                                                <td></td>
                                                                <td><strong>Canteen Fee</strong></td>
                                                                <td>{{selectedPaySlip.canteenFee |
                                                                    currency:'INR':'symbol':'1.2-2'}}</td>
                                                            </tr>
                                                            <tr>
                                                                <td></td>
                                                                <td></td>
                                                                <td><strong>Absent charges</strong></td>
                                                                <td>{{selectedPaySlip.absentCharge |
                                                                    currency:'INR':'symbol':'1.2-2'}}</td>
                                                            </tr>
                                                            <tr>
                                                                <td></td>
                                                                <td></td>
                                                                <td><strong>Loan EMI</strong></td>
                                                                <td>{{selectedPaySlip.loanEMI |
                                                                    currency:'INR':'symbol':'1.2-2'}}</td>
                                                            </tr>
                                                            <tr>
                                                                <td></td>
                                                                <td></td>
                                                                <td><strong>Others</strong></td>
                                                                <td>{{selectedPaySlip.Others |
                                                                    currency:'INR':'symbol':'1.2-2'}}</td>
                                                            </tr>

                                                            <tr>
                                                                <th>GROSS EARNINGS</th>
                                                                <td>{{selectedPaySlip.totalGross |
                                                                    currency:'INR':'symbol':'1.2-2'}}</td>
                                                                <th>TOTAL DEDUCTIONS</th>
                                                                <td>{{selectedPaySlip.totalDeduct |
                                                                    currency:'INR':'symbol':'1.2-2'}}</td>
                                                            </tr>

                                                            <tr>
                                                                <td colspan="4"><strong>NET SALARY (G-E):</strong>
                                                                    {{selectedPaySlip.netSalary |
                                                                    currency:'INR':'symbol':'1.2-2'}}</td>
                                                            </tr>
                                                            <!-- <tr>
                                                            <th>TOTAL PAYABLE DAYS</th>
                                                            <td></td>
                                                            <th>ARREAR (if any)</th>
                                                            <td></td>
                                                          </tr> -->
                                                            <tr>
                                                                <td colspan="4"><strong>Rupees:</strong>
                                                                    {{selectedPaySlip.amountText}} Only.</td>
                                                            </tr>
                                                            <tr>
                                                                <td colspan="4"><br><br><br>Seal & Signature of
                                                                    Accountant</td>
                                                            </tr>
                                                            <tr>
                                                                <td colspan="4" class="text-right"><br><br><br>Seal &
                                                                    Signature of Branch Manager</td>
                                                            </tr>
                                                            <tr>
                                                                <td colspan="4">Note: Authorised officer seal and signatures are mandatory.</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <div class="col-12 bg-warning text-center p-2">
                                                        <p>
                                                            Lakhimi Sanchay and Rindan S.S.Ltd.Office : 2nd. Floor, Dihingia Bazar, Dhemaji Tiniali, Ward-2, NH-52(15), Near SP Office, 
                                                        </p>
                                                        <p>
                                                            Dhemaji, Assam, 787057. A registered Credit Cooperative Society Ltd.Regd. No. DJ270B, Act, 1949(1 of 1950), Govt. of Assam.
                                                        </p>
                                                    </div>
                                                    <br>
                                                    <br>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end model -->
    </div>




    <!-- salary report -->

    <div class="modal fade" id="salaryReport" tabindex="-1" role="dialog" aria-labelledby="accountOpeningLabel"
        aria-hidden="true" data-backdrop="static" data-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel">
        <div class="modal-dialog modal-fullscreen" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="accountOpeningLabel">Salary Report </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" id="modalClose">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row  px-4">
                        <button (click)="saveAsPDF()" mat-raised-button
                            color="primary"><i class="fas fa-print"></i>
                            print</button>
                    </div>

                    <div class="card-body"  id="salary-report">
                        <div class="col-12 text-center">
                            
                            <h2 class="p-0 m-0">Lakhimi Sanchay and Rindan S.S. Ltd.</h2>
                                <p>Dhemaji, Assam - 787057</p>
                                <p>Monthly Salary Statement</p>
                                <p>For the month of: {{inputData.monthName}} - {{inputData.year}}</p>
                        </div>
                        <div class="col-12 pt-2 scroll-container-salary">
                            <table class="table p-0 m-0">
                                <thead>
                                    <tr class="p-0 m-0 small">
                                        <th class="px-1 m-0 small text-center bg-secondary">Sl No.</th>
                                        <th class="px-1 m-0 small text-center bg-secondary" style="min-width: 150px;">NAME</th>
                                        <th class="px-1 m-0 small text-center bg-secondary" style="min-width: 150px;">DESIGNATIONS</th>
                                        <th class="px-1 m-0 small text-center bg-secondary">BASIC PAY</th>
                                        <th class="px-1 m-0 small text-center bg-secondary">PERFORMANCE ALLOWANCE</th>
                                        <th class="px-1 m-0 small text-center bg-secondary">TRAVELLING ALLOWANCE</th>
                                        <th class="px-1 m-0 small text-center bg-secondary">OTHER ALLOWANCE</th>
                                        <th class="px-1 m-0 small text-center bg-secondary">GROSS SALARY</th>
                                        <th class="px-1 m-0 small text-center bg-secondary">PROFESSIONAL FEE</th>
                                        <th class="px-1 m-0 small text-center bg-secondary">INSURANCE FEE</th>
                                        <th class="px-1 m-0 small text-center bg-secondary">EWF DEPOSIT</th>
                                        <th class="px-1 m-0 small text-center bg-secondary">CANTEEN FEE</th>
                                        <th class="px-1 m-0 small text-center bg-secondary">ABSENT CHARGES</th>
                                        <th class="px-1 m-0 small text-center bg-secondary">EWF REFUND</th>
                                        <th class="px-1 m-0 small text-center bg-secondary">LOAN EMI</th>
                                        <th class="px-1 m-0 small text-center bg-secondary">OTHER DEDUCTIONS</th>
                                        <th class="px-1 m-0 small text-center bg-secondary">NET SALARY</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let empData of data; let i = index">
                                        <td class="px-1 m-0 small text-center">{{i+1}}</td>
                                        <td class="px-1 m-0 small">
                                            {{empData.name}}
                                        </td>
                                        <td class="px-1 m-0 small">
                                            {{empData.designation}}
                                        </td>
                                        <td class="px-1 m-0 small text-right">
                                            {{empData.basicPay | currency: 'INR':'symbol':'1.0-0'}}
                                        </td>
                                        <td class="px-1 m-0 small text-right">
                                            {{empData.pA | currency: 'INR':'symbol':'1.0-0'}}
                                        </td>
                                        <td class="px-1 m-0 small text-right">
                                            {{empData.tA | currency: 'INR':'symbol':'1.0-0'}}
                                        </td>
                                        
                                        <td class="px-1 m-0 small text-right">
                                            {{empData.oA | currency: 'INR':'symbol':'1.0-0'}}
                                        </td>
                                        <td class="px-1 m-0 small text-right">
                                            {{empData.GrossSalary | currency: 'INR':'symbol':'1.0-0'}}
                                        </td>
                                        <td class="px-1 m-0 small text-right">
                                            {{empData.PTax | currency: 'INR':'symbol':'1.0-0'}}
                                        </td>
                                        <td class="px-1 m-0 small text-right">
                                            {{empData.insurance | currency: 'INR':'symbol':'1.0-0'}}
                                        </td>
                                        <td class="px-1 m-0 small text-right">
                                            {{empData.eWF | currency: 'INR':'symbol':'1.0-0'}}
                                        </td>
                                        <td class="px-1 m-0 small text-right">
                                            {{empData.canteenFee | currency: 'INR':'symbol':'1.0-0'}}
                                        </td>
                                        <td class="px-1 m-0 small text-right">
                                            {{empData.absentCharge | currency: 'INR':'symbol':'1.0-0'}}
                                        </td>
                                        <td class="px-1 m-0 small text-right">
                                            {{empData.EWFrefund | currency: 'INR':'symbol':'1.0-0'}}
                                        </td>
                                        <td class="px-1 m-0 small text-right">
                                            {{empData.loanEMI | currency: 'INR':'symbol':'1.0-0'}}
                                        </td>
                                        <td class="px-1 m-0 small text-right">
                                            {{empData.Others | currency: 'INR':'symbol':'1.0-0'}}
                                        </td>
                                        <td class="px-1 m-0 small text-right">
                                            {{empData.netSalary | currency: 'INR':'symbol':'1.0-0'}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="px-1 m-0 small text-center" colspan="3"><b>Total</b></td>
                                        <td class="px-1 m-0 small text-right"><b>{{all_BasicPay | currency: 'INR':'symbol':'1.0-0'}}</b></td>
                                        <td class="px-1 m-0 small text-right"><b>{{all_pA | currency: 'INR':'symbol':'1.0-0'}}</b></td>
                                        <td class="px-1 m-0 small text-right"><b>{{all_tA | currency: 'INR':'symbol':'1.0-0'}}</b></td>
                                        <td class="px-1 m-0 small text-right"><b>{{all_oA | currency: 'INR':'symbol':'1.0-0'}}</b></td>
                                        <td class="px-1 m-0 small text-right"><b>{{all_GrossSalary | currency: 'INR':'symbol':'1.0-0'}}</b></td>
                                        <td class="px-1 m-0 small text-right"><b>{{all_PTax | currency: 'INR':'symbol':'1.0-0'}}</b></td>
                                        <td class="px-1 m-0 small text-right"><b>{{all_insurance | currency: 'INR':'symbol':'1.0-0'}}</b></td>
                                        <td class="px-1 m-0 small text-right"><b>{{all_eWF | currency: 'INR':'symbol':'1.0-0'}}</b></td>
                                        <td class="px-1 m-0 small text-right"><b>{{all_canteenFee | currency: 'INR':'symbol':'1.0-0'}}</b></td>
                                        <td class="px-1 m-0 small text-right"><b>{{all_absentCharge | currency: 'INR':'symbol':'1.0-0'}}</b></td>
                                        <td class="px-1 m-0 small text-right"><b>{{all_EWFrefund | currency: 'INR':'symbol':'1.0-0'}}</b></td>
                                        <td class="px-1 m-0 small text-right"><b>{{all_loanEMI | currency: 'INR':'symbol':'1.0-0'}}</b></td>
                                        <td class="px-1 m-0 small text-right"><b>{{all_Others | currency: 'INR':'symbol':'1.0-0'}}</b></td>
                                        <td class="px-1 m-0 small text-right"><b>{{all_netSalary | currency: 'INR':'symbol':'1.0-0'}}</b></td>
                                    </tr>
                                </tbody>
                            </table>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end model -->
    </div>


    <!-- Loan Account Opening Modal -->
</div>